*.swp
html/

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
debian/changelog
debian/copyright
depcomp
docs/Doxyfile_example
docs/Doxyfile_library
docs/Makefile
docs/Makefile.in
docs/doxyfile.stamp
docs/man/
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/cva-input
examples/cva-input.o
examples/cva-match
examples/cva-match.o
include/libcvautomation/libcvautomation.h
install-sh
libcvautomation.pc
libcvautomation/.deps/
libcvautomation/.libs/
libcvautomation/Makefile
libcvautomation/Makefile.in
libcvautomation/libcvautomation.la
libcvautomation/libcvautomation_la-libcvautomation-opencv.lo
libcvautomation/libcvautomation_la-libcvautomation-opencv.o
libcvautomation/libcvautomation_la-libcvautomation-xlib.lo
libcvautomation/libcvautomation_la-libcvautomation-xlib.o
libcvautomation/libcvautomation_la-libcvautomation-xtest.lo
libcvautomation/libcvautomation_la-libcvautomation-xtest.o
libtool
ltmain.sh
missing
py-compile
python/Makefile.in
rpm/libcvautomation.spec
