Source: libcvautomation
Section: devel
Priority: extra
Maintainer: Bradlee Speice <bspeice@uncc.edu>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, pkg-config, libpcre3, libx11-dev, libxtst-dev, libopencv-core-dev, libopencv-highgui-dev, libopencv-imgproc-dev, doxygen
Standards-Version: 3.9.3
Homepage: http://djbushido.github.com/libcvautomation/

Package: libcvautomation-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxtst-dev, libx11-dev, libopencv-core2.3, libopencv-highgui2.3, libopencv-imgproc2.3
Description: GUI Automation and Testing Library
 Contains the Libcvautomation main library, headers, and pkg-config files.
 Libcvautomation is a GUI automation and testing tool based on image
 recognition and response. This program was designed as a direct replacement
 for Sikuli and Xpresser. Each solution had large problems with crashing, and
 both refused to function on Red Hat Linux and Ubuntu 12.04. The author really
 liked the way each of these programs approached GUI automation, but they
 simply didn't work. As such, a simple library was designed to integrate OpenCV
 and XTest, which can be used by BASH to drive GUI testing and automation, and
 works on both new and old Linux distributions.

Package: libcvautomation-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, ${source:Version}
Description: documentation for libcvautomation
 Contains the HTML documentation for libcvautomation.

Package: libcvautomation-examples
Depends: ${shlibs:Depends}, ${misc:Depends}, libxtst-dev, libx11-dev, libopencv-core2.3, libopencv-highgui2.3, libopencv-imgproc2.3
Architecture: any
Description: Example programs to demonstrate libcvautomation functionality
 Contains programs designed to showcase the functionality of libcvautomation,
 as well as a BASH wrapper to write application tests from BASH.

Package: libcvautomation-python
Depends: ${shlibs:Depends}, ${misc:Depends}, python2.7
Architecture: any
Description: Python bindings for libcvautomation
 Contains the python libcvautomation module to allow python code to interface
 with libcvautomation.
 To use, all that is needed is `import libcvautomation`.
